/*main grid layout*/
body
{
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "control"
    "footer";
    grid-template-rows: auto auto auto auto;
    grid-gap: 2em;
    grid-template-columns: 100vw;
}

#controls{
    grid-area: control;
}

header
{
    grid-area: header;
}

main
{
    grid-area: content;
}

footer
{
    grid-area: footer;
}





